<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>


<div class="research-add">
    <br>
    <br>
    <div class="research-add-data">
      
        <form action="/research/add/<%=id%>" method="POST">
            <label for="desc"> AddDescription</label>
            <br>
            <br>
            <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
            <br>
            <br>
            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="other">other</option>
                <option value="journal">Journal</option>
                <option value="Conference">Conference</option>
                <option value="Book">Book</option>
                <option value="BookChapter">Book Chapter</option>
                <option value="patent">patent</option>
            </select>
            <br>
            <br>
            <button type="submit" class="btn btn-dark">Add</button>
        </form>
    </div>
</div>


<%- include('../partials/footer'); -%>