.talks-body{
    background: linear-gradient(to bottom right,rgba(51, 73, 76, 0.603),rgba(136, 196, 255, 0.658)),url("https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OTZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    /* url("https://images.unsplash.com/photo-1577044685231-70e99274404c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGljZSUyMG1vdW50YWlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
    background-size: cover;
    color:white;
    text-shadow: 2px 0px 5px black;
    text-align: center;
}

.talk-year-body{
    padding: 20px;
    width: 90vw;
    margin:  auto;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background:linear-gradient(to bottom right,rgba(4, 146, 193, 0.522),rgba(3, 178, 149, 0.434));
}

.talk-year-info{
    padding:40px;
    border-radius: 10px;
    width: 80vw;
    margin: 10px  auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background:linear-gradient(to top left,rgba(0, 110, 147, 0.767),rgba(2, 163, 136, 0.8));
}


.talk-add{
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 6px;
    background-color: #011627;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.talk-display{
    display: flex;
    justify-content: space-around;
}

.talk-add-design{
    color: snow;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 6px black;
    background: linear-gradient(to bottom right,rgba(47, 47, 47, 0.651),rgba(74, 75, 76, 0.419)),url("https://images.unsplash.com/photo-1611189986247-9c5c009d4003?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTcwfHxicmlnaHR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
}

.talk-add-data{
    background:linear-gradient(to bottom right,rgba(255, 255, 255, 0.568), rgba(255, 250, 200, 0.67));
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
textarea,input{
    width: 40vw;
}

.talk-button-display{
    display: flex;
    justify-content: space-between;
}