<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>


<div class="opening-back">
    <h1>Opening</h1>
    <a href="/opening/addData" class="btn btn-dark">Add</a>
    <br>
    <br>
    <div class="opening-data">
        
    </div>
</div>


<%- include('../partials/footer'); -%>